<div class="w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
    <div class="d-flex justify-content-center vw-100 vh-100 text-white">
        <form [formGroup]="form" class="d-flex flex-column bg-dark m-auto p-5 rounded-3 shadow-lg" style="width: 440px; min-height: 460px;">
            <h2 class="mb-0 mx-auto">Change password!</h2>
            <h3 class="mb-4 mx-auto">Please change your password because it's your first login</h3>
    
            <div class="mb-3" style="width: 100%;">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" id="password" formControlName="password" style="background-color: white; color: black; height: 40px">
                </mat-form-field>
              </div>

            <div class="d-flex justify-content-center mt-auto">
                <button class="btn btn-primary"  (click)="onSubmit()">Change</button>
            </div>
        </form>
    </div>
</div>
