
div {
    width: 60%;
    height: 50%;
    margin: 0;
}

table {
    margin-top:10px;
    padding: 30%;
    word-spacing: 20px;
    width: 70%;
    height: 70%;
    margin: auto;
}

th {
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

p {
    font-size: 31px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: black;
}

tr {
    font-size: 20px;
    color: dimgray;
    border-color: black;

}
td{
    text-align: center;
}

button{
    text-size-adjust: 20px;
    height: 50px;
    width: 180px;
    border-radius: 20%;
    border-style:groove;
}

input{
    border: 10px;
    background-color:gray;
    color:black;
    padding:0
}