<div class="d-flex justify-content-center w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
  <div class="w-90 h-100" style="background: #212529d8">
      <div class="d-flex justify-content-between m-3 rounded-5 h-15" style="background: #212529d8">
          <div class="d-flex">
            <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" href="/homeAdminCenter">Amdinistrator center</a></div>
            <div class="h5 pt-5 pb-3 p-5 px-0"><a class="text-white text-decoration-none small-font" href="/">Appointment info</a></div>
            <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none small-font" href="/donors">Donors</a></div>
              <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none small-font" href="/calendar">Calendar</a></div>
              <div class="h5 pt-5 pb-3 p-5 px-0"><a class="text-white text-decoration-none small-font" href="/profilOfRegisteredUser">Profile</a></div>
              <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none small-font" href="/">Create appointment</a></div>
              <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none small-font" href="/bloods">Bloods</a></div>
              <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none small-font" href="/editCenter">My center</a></div>
          </div>
          <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none small-font" (click)="logout()" href="">Logout</a></div>
      </div>


<body class="background-image">
    <form class="container">

      <div class="container1">

        <div class="left-div">

      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="Name" [formControl]="requiredNameControl"[(ngModel)]="registeredUserDto.name">
        <mat-error *ngIf="requiredNameControl.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>

      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="Surname" [formControl]="requiredSurnameControl" [(ngModel)]="registeredUserDto.surname">
        <mat-error *ngIf="requiredSurnameControl.hasError('required')">
            Surname is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>


      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="Jmbg" [formControl]="requiredJmbgControl" [(ngModel)]="registeredUserDto.jmbg">
        <mat-error *ngIf="requiredJmbgControl.hasError('required')">
            Jmbg is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>

      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="PhoneNumber" [formControl]="requiredPhoneNumberControl" [(ngModel)]="registeredUserDto.phonNumber">
        <mat-error *ngIf="requiredPhoneNumberControl.hasError('required')">
            PhoneNumber is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>
      
          

        <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Country" [formControl]="requiredAddressControl"[(ngModel)]="registeredUserDto.address.country">
            <mat-error *ngIf="requiredAddressControl.hasError('required')">
                Counrty is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>

        

          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="City" [formControl]="requiredCityControl"[(ngModel)]="registeredUserDto.address.city">
            <mat-error *ngIf="requiredCityControl.hasError('required')">
                City is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>

        </div>
          <div class="right-div">
        
          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Street" [formControl]="requiredCountryControl"[(ngModel)]="registeredUserDto.address.street">
            <mat-error *ngIf="requiredCountryControl.hasError('required')">
                Street is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>


          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Number" [formControl]="requiredNumberControl"[(ngModel)]="registeredUserDto.address.number">
            <mat-error *ngIf="requiredNumberControl.hasError('required')">
                Number is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>


          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Occupation" [formControl]="requiredOccupationControl"[(ngModel)]="registeredUserDto.occupation">
            <mat-error *ngIf="requiredOccupationControl.hasError('required')">
                Occupation is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>   

          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="BloodType" [formControl]="requiredBloodTypeControl" [(ngModel)]="registeredUserDto.bloodType" pattern="^(A|B|AB|O)[+-]$">
            <mat-error *ngIf="requiredBloodTypeControl.hasError('required')">
              BloodType is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="requiredBloodTypeControl.hasError('pattern')">
              BloodType is invalid. Please enter a valid blood type (A, B, AB, O) followed by a + or - sign.
            </mat-error>
          </mat-form-field><br>
          
          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Password" type="password" [formControl]="requiredPasswordControl" [(ngModel)]="registeredUserDto.password">
            <mat-error *ngIf="requiredPasswordControl.hasError('required')">
                Password is <strong>required</strong>!
            </mat-error>
          </mat-form-field><br>

          <div>
            <button class="dugme" mat-stroked-button (click)="editProfile()"> 
              Edit
          </button>
          </div>      

          </div>
          
          </div>
        

          

        
    </form> 
    </body>
  </div>
</div>

