<div class="container">
    <div>
        <br>
        <h1>Registration</h1><br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput [(ngModel)]="person.name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input type="text" matInput [(ngModel)]="person.surname">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" email="true" matInput [(ngModel)]="person.email">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="person.password">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput [(ngModel)]="password">
        </mat-form-field><br>
        <mat-label class="label" *ngIf="samePassword">Password is not the same </mat-label>
        <mat-form-field appearance="fill">
            <mat-label>Phon number</mat-label>
            <input type="text" matInput [(ngModel)]="person.phonNumber">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>JMBG</mat-label>
            <input type="text" matInput [(ngModel)]="person.jmbg">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="person.gender" >
                <mat-option *ngFor="let gender1 of genders" [value]="gender1">{{gender1}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Occupation</mat-label>
            <input type="text" matInput [(ngModel)]="person.occupation">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Information about Company</mat-label>
            <input type="text" matInput [(ngModel)]="person.informationAboutCompany">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Blood Type</mat-label>
            <mat-select [(ngModel)]="person.bloodType" >
                <mat-option *ngFor="let type of bloodTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input type="text" matInput [(ngModel)]="address.city">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input type="text" matInput [(ngModel)]="address.street">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Address number</mat-label>
            <input type="text" matInput [(ngModel)]="address.number">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input type="text" matInput [(ngModel)]="address.country">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input type="datetime-local" matInput [(ngModel)]="person.dateOfBirth" name="dateOfBirth">
        </mat-form-field><br>
        <mat-label class="label" *ngIf="fillds">Fill in all the fields!</mat-label>
        <br><br>
        <button mat-stroked-button (click)="registePerson()">
            Submit
        </button>
        <br><br><br>
    </div>
</div>