<div class="d-flex justify-content-center w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
    <div class="d-flex justify-content-center text-white my-3 w-75">
        <div class="d-flex flex-column m-auto p-5 py-4 rounded-3 shadow-lg w-100" style="background: #212529d8">
            <div class="h2 mb-3 mx-auto">Registration</div>
            
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <h3 class="mb-3 mx-auto border-bottom border-white">Personal information</h3>
                    <div class="mb-2">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="person.name" style="background: #ffffff8e">
                    </div>
    
                    <div class="mb-2">
                        <label for="surname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="surname" [(ngModel)]="person.surname" style="background: #ffffff8e">
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <div class="mb-2">
                            <label for="gender" class="form-label">Gender</label>
                            <div class="input-group">
                                <span class="input-group-text" id="genderPng">
                                    <img src="../../../../assets/images/gender.png" width="24" height="24"/>
                                </span>
                                <select class="form-select" aria-label="gender selector" id="gender" [(ngModel)]="person.gender">
                                    <option selected disabled hidden value="">Choose</option>
                                    <option *ngFor="let gender1 of genders" [value]="gender1">{{gender1}}</option>
                                </select>      
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="bloodtype" class="form-label">Blood Type</label>
                            <div class="input-group">
                                <span class="input-group-text" id="genderPng">
                                    <img src="../../../../assets/images/bloodtype.png" width="24" height="24"/>
                                </span>
                                <select class="form-select"  id="bloodtype" [(ngModel)]="person.bloodType">
                                    <option selected disabled hidden value="">Choose</option>
                                    <option *ngFor="let type of bloodTypes" [value]="type">{{type}}</option>
                                </select>      
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="surname" class="form-label">Phone Number</label>
                        <input type="password" class="form-control" id="phonNumber" [(ngModel)]="person.phonNumber" style="background: #ffffff8e">
                    </div>

                    <div class="mb-2">
                        <label for="birthdate" class="form-label">Birthdate</label>
                        <div class="input-group">
                            <span class="input-group-text" id="birthdatePng">        
                                <img src="../../../../assets/images/birthday.png" width="24" height="24"/>
                            </span>
                            <input type="date" class="form-control" id="birthdate" [(ngModel)]="person.dateOfBirth">
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="surname" class="form-label">JMBG</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="person.jmbg" style="background: #ffffff8e">
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="mb-3 mx-auto border-bottom border-white">Credentials</h3>
                    <div class="mb-2">
                        <label for="name" class="form-label">Email</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="person.email" style="background: #ffffff8e">
                    </div>
    
                    <div class="mb-2">
                        <label for="surname" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="person.password" style="background: #ffffff8e">
                    </div>

                    <div class="mb-5">
                        <label for="surname" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" style="background: #ffffff8e">
                        <label class="label text-danger" *ngIf="samePassword">Password is not the same </label>
                    </div>

                    <h3 class="mb-3 mx-auto border-bottom border-white">Company</h3>
                    <div class="mb-2">
                        <label for="surname" class="form-label">Occupation</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="person.occupation" style="background: #ffffff8e">
                    </div>

                    <div class="mb-2">
                        <label for="surname" class="form-label">Company Information</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="person.informationAboutCompany" style="background: #ffffff8e">
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="mb-3 mx-auto border-bottom border-white">Address</h3>
                    <div class="mb-2">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" [(ngModel)]="address.city" style="background: #ffffff8e">
                    </div>

                    <div class="mb-2">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" id="street" [(ngModel)]="address.street" style="background: #ffffff8e">
                    </div>

                    <div class="mb-2">
                        <label for="addressNumber" class="form-label">Address number</label>
                        <input type="text" class="form-control" id="addressNumber" [(ngModel)]="address.number" style="background: #ffffff8e">
                    </div>

                    <div class="mb-2">
                        <label for="addressCountry" class="form-label">Country</label>
                        <input type="text" class="form-control" id="addressCountry" [(ngModel)]="address.country" style="background: #ffffff8e">
                        <label class="label text-danger mt-1" *ngIf="fillds">Fill in all the fields!</label>
                    </div>

                    <div class="d-flex justify-content-between pt-5 mt-5">
                        <button class="btn btn-outline-light mt-4" (click)="welcome()">Back</button>
                        <button class="btn btn-outline-light mt-4" (click)="registePerson()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>