<div>
    <button class="btn btn-outline-dark" (click)="backToHomePage()">Home Page</button>
    <div class="input-group mb-3 w-50 mx-auto mt-5" >
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
        <input type="text" class="form-control" placeholder="Surname" [(ngModel)]="surname">
        <input type="number" class="form-control" placeholder="Page ID" [(ngModel)]="pageID">
        <button type="button" class="btn btn-outline-dark" [disabled]="pageID < 0" (click)="search()">Search</button>
    </div>
    <table class="table table-striped table-hover w-50 mx-auto mt-2">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Surname</th>
                <th scope="col" class="text-center">JMBG</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registeredPerson of registeredPersons;">
                <td class="text-center">{{registeredPerson.person.id}}</td>
                <td class="text-center">{{registeredPerson.person.name}}</td>
                <td class="text-center">{{registeredPerson.person.surname}}</td>
                <td class="text-center">{{registeredPerson.person.jmbg}}</td>
                <td class="text-center">{{registeredPerson.person.email}}</td>
                <td class="text-center">{{registeredPerson.person.gender}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between w-50 mt-1 mx-auto">
        <button type="button" class="btn btn-outline-dark" *ngIf="currentPageID > 0" (click)="previous()">Previous ({{currentPageID - 1}})</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="currentPageID <= 0" (click)="previous()">Previous ({{currentPageID}})</button>
        <label>({{currentPageID}})</label>
        <button type="button" class="btn btn-outline-dark" (click)="next()">Next ({{currentPageID + 1}})</button>
    </div>  
</div>

