/**W**/
.w-30{
    position: inherit;
    width: 30%;
}

.w-60{
    position: inherit;
    width: 60%;
}

.w-70{
    position: inherit;
    width: 70%;
}

.w-80{
    position: inherit;
    width: 50%;
}

#myDiv {
    position: absolute;
    width: 40%;
  }

.w-90{
    position: inherit;
    width: 90%;
}

.w-75{
    width: 30%;
    height: 60%;
}

.w-20{
    position: inherit;
    width: 70%;
}

/**H**/
.h-15{
    position: inherit;
    height: 15%;
}

#absolute-div {
    position: absolute;
    top: 31%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background-color: lightblue;
    width: 40%;
    height: 33%;
}