<div class="d-flex justify-content-center w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
    <div class="w-90 h-100" style="background: #212529d8">
      <div class="d-flex justify-content-between m-3 rounded-5 h-15" style="background: #212529d8">
        <div class="d-flex">
          <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" href="/home">Registered User</a></div>
          <div class="h3 pt-5 pb-5 p-5 px-5"><a class="text-white text-decoration-none" href="/editProfilRegisteredUser">Profile</a></div>
          <div class="h3 pt-5 pb-3 p-5 px-5"><a class="text-white text-decoration-none" href="/schedulingAppointment">Scheduling appointment</a></div>
          <div class="h3 pt-5 pb-3 p-5 px-5"><a class="text-white text-decoration-none" href="/grade">Rate center</a></div>
        </div>
        <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" (click)="logout()" href="">Logout</a></div>
      </div>
      <div class="d-flex h-75">
        <div class="d-flex justify-content-center  w-60 pt-2">
          <div id="absolute-div" class="w-90 p-4 mt-5 mb-5 rounded" style="background: #212529d8">
            <label class="h4 text-white mb-4">Rate a center</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
              </div>
              <input type="text" [(ngModel)]="center.name" class="form-control" aria-describedby="basic-addon1" style="background: #ffffff8e" disabled>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <input type="text" [(ngModel)]="center.description" class="form-control" aria-describedby="basic-addon1" style="background: #ffffff8e" disabled>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Address</span>
              </div>
              <input type="text" [(ngModel)]="center.address.street + ' ' + center.address.number + ', ' + center.address.city 
              + ', ' +  center.address.country" class="form-control" aria-describedby="basic-addon1" style="background: #ffffff8e" disabled><br>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Average rating</span>
              </div>
              <input type="text" [(ngModel)]="center.averageRating" class="form-control" aria-describedby="basic-addon1" style="background: #ffffff8e" disabled>
            </div>
            <div class="input-group mb-2" *ngIf="showForm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Score</span>
                </div>
                <input type="text" [(ngModel)]="grade.score" class="form-control" aria-describedby="basic-addon1" style="background: #ffffff8e" disabled>
              </div>
          </div>
        </div>
        <div class="d-flex justify-content-center w-30 pt-2">
          <div class="w-90 pt-3 rounded" style="background: #212529d8" >
            <div class="h4 d-flex justify-content-center text-white">
              Rating Form
            </div>
            <table class="table table-light table-striped table-hover mx-auto mt-2 w-90">
              <thead>
                <tr>
                  <th scope="col" class="text-center">
                    <button class="btn btn-sm">
                      <b>Give rate</b>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="number" class="form-control" [(ngModel)]="grade.score" placeholder="Enter rating" min="1" max="10">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mb-5">
                <button type="button" class="btn btn-outline-light w-80" (click)="submitRating()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  