<h1 >Welcome to the home page</h1>
<h1>ALAH SE UVALIH</h1> <!-- by: Radisa Stojkic -->

<div class="div">
    <button mat-stroked-button (click)="registePerson()">
        Registration
    </button>
   
    <button mat-stroked-button (click)="questionForms()">    
        Fill out the questionnaire
    </button>

    <button mat-stroked-button (click)="registerCenter()">
        Center Registration
    </button>
   
    <button mat-stroked-button (click)="registerCenterAdministrator()">    
        Center Administrator Registration
    </button>

    <button mat-stroked-button (click)="profileRegisteredUser()">    
        Profil information
    </button>

    <button mat-stroked-button (click)="registeredPersons()">    
        Registered Persons Search
    </button>

</div>

<div class="container">
    <div class="table-header">
        <p class="table-title">Centers</p>

        <ng-container>
            <tr mat-cell>Name:</tr>
            <tr><input type="search" name="centerNamee" matInput [(ngModel)]="ime"></tr>
            <tr>Place:</tr>
            <tr><input type="search" name="centerCityy" matInput [(ngModel)]="mesto"></tr>
            <tr><button mat-stroked-button  (click)="searchCenterByNameAndCity()"> Search </button></tr>
            <tr><button mat-stroked-button  (click)="reset()"> Reset </button></tr>
            
            <tr mat-cell>Street:</tr>
            <tr><input type="search" name="street" matInput [(ngModel)]="street"></tr>
            <tr><button mat-stroked-button  (click)="filterCenterByStreet()"> Filter </button></tr>
        </ng-container>

    </div>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="mrs">
            <th mat-header-cell *matHeaderCellDef class="cell-center"><button mat-stroked-button> Mrs </button></th>
          
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.name}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="cell-center"><button mat-stroked-button (click)="sortByName()"> Name </button></th>
          
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.name}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef class="cell-center"><button mat-stroked-button  (click)="sortByCity()"> City </button></th>
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.address.city}}</td>
        </ng-container>

        <ng-container matColumnDef="average_rating">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> <button mat-stroked-button (click)="sortByAverageRating()"> Average rating </button> </th>
           
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.averageRating}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> <button mat-stroked-button> Description </button> </th>
           
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.description}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-stroked-button (click)="nextButton()">Next</button>
    <button mat-stroked-button disabled > {{this.page + 1}}</button> 
    <button mat-stroked-button  (click)="previousButton()">Previous</button>
    
</div>