<div class="d-flex justify-content-center w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
    <div class="w-90 h-100" style="background: #212529d8">
        <div class="d-flex justify-content-between m-3 rounded-5 h-15" style="background: #212529d8">
            <div class="d-flex">
                <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" href="">Welcome</a></div>
                <div class="h5 pt-5 pb-3 p-5 px-0"><a class="text-white text-decoration-none" href="/registerCenter">Register Center</a></div>
                <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none" href="/registerCenterAdministrator">Register Administrator</a></div>
            </div>
            
            <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" (click)="logout()" href="">Logout</a></div>
        </div>
        
    </div>
</div>