<div class="d-flex justify-content-center w-100 h-100" style="background: linear-gradient(165deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 78%, rgba(252,176,69,1) 100%);">
    <div class="w-90 h-100" style="background: #212529d8">
        <div class="d-flex justify-content-between m-3 rounded-5 h-15" style="background: #212529d8">
            <div class="d-flex">
                <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" href="/home">Registered User</a></div>
                <div class="h5 pt-5 pb-3 p-5 px-0"><a class="text-white text-decoration-none" href="/profilOfRegisteredUser">Profile</a></div>
                <div class="h5 pt-5 pb-3 p-5"><a class="text-white text-decoration-none" href="/schedulingAppointment">Scheduling appointment</a></div>
            </div>
            <div class="display-5 pt-4 pb-3 p-5"><a class="text-white text-decoration-none" (click)="logout()" href="">Logout</a></div>
        </div>
        <div class="d-flex h-75">

            <div class="d-flex justify-content-center  w-75 pt-2">
                <div id="absolute-div" class="w-90 p-4 mt-5 mb-5 rounded" style="background: #212529d8">
                    
                    <label class="h4 text-white mb-4">Scheduling appointment</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Date and Time</span>
                        </div>
                        <input type="datetime-local" class="form-control" aria-describedby="basic-addon1" [min]="minDate" [(ngModel)]="datum" style="background: #ffffff8e">
                    </div>
                    <div class="d-flex justify-content-between mb-5">
                        <button type="button" class="btn btn-outline-light" (click)="reset()">Reset</button>
                        <button type="button" class="btn btn-outline-light" (click)="search()">Search</button>
                    </div>
                    
                </div>
            </div>

            <div class="d-flex justify-content-center w-20 pt-2" *ngIf="showForm">
                <div class="w-90 pt-3 rounded" style="background: #212529d8" >
                    <div class="h4 d-flex justify-content-center text-white">
                            Available Centers
                    </div>
                    <table class="table table-light table-striped table-hover mx-auto mt-2 w-90">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">
                                    <button class="btn btn-sm">
                                        <b>Name</b>
                                    </button>
                                </th>
                                <th scope="col" class="text-center">
                                    <button class="btn btn-sm" >
                                        <b>City</b>
                                    </button>
                                </th>
                                <th scope="col" class="text-center">
                                    <button class="btn btn-sm" (click)="sortByAverageRating()">
                                        <b>Rating</b> 
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let center of centers;">
                                <td class="text-center">{{center.name}}</td>
                                <td class="text-center">{{center.address.city}}</td>
                                <td class="text-center">{{center.averageRating}}</td>
                        </tbody>
                    </table>
                   
                </div>
            </div>
           
        </div>
    </div>
</div>



