<google-map height="50%"
            width="100%"
            [center]="center"
            [zoom]="zoom"
          >
    <map-marker #marker="mapMarker"
        [position]="center"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker,'Polaziste')">
        <map-marker
        #markerElem="mapMarker"
        [position]="center2"
        [options]="marker.options"
        ></map-marker>
       </map-marker>
    <map-marker  #marker1="mapMarker"
    [position]="center2"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker1, 'Odrediste')">
    </map-marker>

    <map-info-window>{{text}} </map-info-window>
   </google-map>
   
   <button [disabled]="button" (click)="Dugme()">Prosledite odredisnu kordinatu</button>
   
  